@charset "UTF-8";

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Mise en page
 *** Contenus principal et complémentaire
 *** Architecture des CSS (liste de définitions)
 *** Pied de page
 */

/* Normalize
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires
   ========================================================================== */
@import "_utilitaires";

/* Charte typographique
   ========================================================================== */
@import "_typo";

/* Menu
   ========================================================================== */
@import "_menu";

/* Grille
   ========================================================================== */
@import "_grille";

/* Mise en page
   ========================================================================== */

$couleurPrimaire: red;
$testDeVariable: 100px;

body {
  color: $couleurPrimaire;
  //   fonctionne bien, en commentaire car pas beau
  //   font-size: $testDeVariable;
}
